body{
    margin: 0;
    background-color: rgb(36, 36, 36);
/*    background: rgb(164,0,124);
    background: linear-gradient(90deg, rgba(164,0,124,0.7) 0%, rgba(131,39,108,1) 35%);
*/
    

}

.navbar{
    width: 100%;
    height: 150px;
}

.background-img-nav{
    width: 100%;
    height: 280px;
    box-shadow: 0 0 15px 0 rgb(241, 129, 213);
    background-size: contain;
}


.nav-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: 0 55%;
    display: block;
    pointer-events: none;
}


/* ---------- SEARCH --- BAR ---------- */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -52px;

}

.search-bar img{
    width: 30px;
    height: 30px;
}

.search-bar{
    width: 50%;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: saturate(1.7);
    border: 1px solid rgb(241, 129, 213);
}

.search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    flex: 1;
    padding: 20px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 30px;
    justify-content: center;
    align-items: center;
}

.search-bar button{
    background: transparent;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 0 solid #cac7ff;
}

.search-bar button:hover{
    background: rgb(197, 92, 171);
    transition: all 0.7s ease;
    border: 2px solid #cac7ff;
}


/* ---------- END ---------- */





/* ---------- NAVIGATION-TOOL ---------- */


.navigation-tool{
    width: 100%;
    height: 50px;
    background-color: rgba(197,92,171, 0.4);
    margin-top: 130px;
/*
    background: rgb(164,0,124);
    background: linear-gradient(90deg, rgba(164,0,124,0.7) 0%, rgba(164,0,124,1) 0%, rgba(168,69,144,1) 13%, rgba(175,76,150,1) 22%, rgba(176,29,138,0.865983893557423) 29%, rgba(194,38,154,0.8995973389355743) 38%, rgba(181,49,148,0.8995973389355743) 49%, rgba(186,25,147,0.8379726890756303) 58%, rgba(190,59,156,1) 68%, rgba(182,40,146,0.8743872549019608) 78%);
*/
}

.nav-list ul{
    display: flex;
    list-style: none;

    align-items: center;
    justify-content: center;
    height: 50px;
}

.nav-ul a{
    text-decoration: none;
    color: #cac7ff;
    padding: 8px 8px;
    margin: 0 20px 0 0;
    
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;

}


.nav-ul a:hover{
    border: 0 #cac7ff solid;
    border-radius: 15px;
    transition: all 0.7s ease;
    color: white;
    border-color: white;
    background-color: rgba(197,92,171, 0.4);
    text-decoration: none;
}


.a2:hover{
    margin-left: 10px;
    margin-right: 25px;
}

.a3:hover{
    margin-left: 10px;
    margin-right: 25px;
}


/* ---------- END ---------- */



/* ---------- EMPTY --------- */



/* ---------- CONTENT CARD VIDEO START ---------- */

.section-class{
    display: flex;
}

.container-card{
    width: 610px;
    height: 300px;
    display: flex;
    position: relative;
    margin-left: 2.8cm;
    margin-top: 30px;
    flex-direction: row-reverse;
}

.quotes{
    width:100%;
    position: absolute;
    text-align: center;
    bottom: 20%;
    font-size: 27px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
}


.container-card video{
    width: 610px;
    height: 300px;
    border-radius: 15px;
    object-fit: fill;
}

.quotes a{
    text-decoration: none;
}

.quotes h2{
    color: white;
}

/* ----- Video-Card-links ----- */
.quotes a:visited{
    color: white;
}

a:active{
    color: white;
}

a:visited{
    color: white;
}




.quotes h1, a:hover{
    text-decoration:underline;
    color: white;
}


/* ----- END ----- */

.container-card:hover{
    border-radius: 15px;
    scale: 1.05;
    transition: all 0.7s ease;
    box-shadow: 3px 3px 7px rgba(197,92,171, 0.4), -2px -2px 7px rgba(197,92,171, 0.4);
}


/* ---------- CONTENT CARD VIDEO END ---------- */



/* ---------- EMPTY --------- */



/* ---------- CONTENT CARD 1 START ---------- */

.container-card2{
    width: 500px;
    height: 300px;
    display: flex;
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
}

.description-1 {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    font-size: 18px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
}

.container-card2 img{
    width: 500px;
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
}

.description-1 a{
    text-decoration: none;
}

.description-1 a:hover{
    color: white;
    text-decoration: underline;
}

.container-card2:hover{
    scale: 1.05;
    transition: all 0.7s ease;
    box-shadow: 3px 3px 7px rgba(197,92,171, 0.4), -2px -2px 7px rgba(197,92,171, 0.4);
    border-radius: 15px;
}


/* ---------- CONTENT CARD 1 END ---------- */



/* ---------- EMPTY --------- */



/* ---------- CONTENT CARD 2 START ---------- */

.container-card3{
    width: 500px;
    height: 300px;
    display: flex;
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
}

.description-2 {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    font-size: 18px;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
}

.container-card3 img{
    width: 500px;
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
}

.description-2 a{
    text-decoration: none;
}

.description-2 a:hover{
    text-decoration: underline;
    color: white;
}

.container-card3:hover{
    scale: 1.05;
    transition: all 0.7s ease;
    box-shadow: 3px 3px 7px rgba(197,92,171, 0.4), -2px -2px 7px rgba(197,92,171, 0.4);
    border-radius: 15px;
}

